USE [master]
GO
/****** Object:  Database [SampleFullText]    Script Date: 11/17/2013 13:46:58 ******/
CREATE DATABASE [SampleFullText] ON  PRIMARY 
( NAME = N'SampleFullText', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\SampleFullText.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SampleFullText_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\SampleFullText_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SampleFullText].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SampleFullText]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/17/2013 13:46:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Link] [nvarchar](200) NOT NULL,
	[ImageLink] [nvarchar](200) NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON
INSERT [dbo].[Product] ([ID], [Name], [Link], [ImageLink], [Price]) VALUES (203, N'Honda Air Blade Fi 125cc 2013 Việt Nam...', N'http://vatgia.com/536/2762246/honda-air-blade-fi-125cc-2013-vi%E1%BB%87t-nam-%C4%91en-x%C3%A1m.html', N'http://media.vatgia.vn/thumb140/46/small_euk1357098015.jpg', 35400000.0000)
INSERT [dbo].[Product] ([ID], [Name], [Link], [ImageLink], [Price]) VALUES (204, N'Suzuki Axelo 125 ( Côn tay - Xanh trắng...', N'http://vatgia.com/536/2803438/suzuki-axelo-125-c%C3%B4n-tay-xanh-tr%E1%BA%AFng.html', N'http://media.vatgia.vn/thumb140/164/small_cmw1357270572.jpg', 23700000.0000)
INSERT [dbo].[Product] ([ID], [Name], [Link], [ImageLink], [Price]) VALUES (205, N'Honda SH 125i Việt Nam 2012 (Mới) Màu...', N'http://vatgia.com/536/2364990/honda-sh-125i-vi%E1%BB%87t-nam-2012-m%E1%BB%9Bi-m%C3%A0u-%C4%91en.html', N'http://media.vatgia.vn/thumb140/157/small_yxe1343383081.jpg', 69800000.0000)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
SET IDENTITY_INSERT [dbo].[Product] OFF
